body {
  background-image: url("/img/background.jpg");
}

#content {
  margin: 5%;
}

#header {
  display: block;
  margin: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Header */

.user-info {
  float: right;
}

.profile-photo {
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}

input[name=delete] {
  float: right;
}

#category-list-item-template {
  display: none;
}

#link-list-item-template {
  display: none;
}

#category-list {
  padding: 0px;
  width: 60%;
}

.category-list-item {
  display: block;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.link-list {
  padding: 0px;
}

.link-list-item {
  display: inline-block;
  background-color: white;
  margin: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: black;
  box-shadow: 3px 3px 3px black;
}

#trash {
  position: fixed;
  max-width: 200px;
  width: 20%;
  right: 5%;
}

#trash img {
  max-width: 100%;
}

/* Landing Page */

.front-title {
  margin-top: 100pt;
  text-align: center;
}

.front-title h1 {
  font-size: 80pt;
}

.login-button {
  margin-top: 100pt;
  text-align: center;
}

@media all and (min-width: 1000pt) {
  .login-button img {
    width: 200pt;
  }
}

/* Helpers */

.clr-both {
  clear: both;
}
