<form id="create-category">
  <input type="text" name="name" placeholder="Category name">
  <input type="submit" value="Create">
</form>

<ul id="category-list">
  <% @user.categories.each do |category| %>
    <li class="category-list-item" data="<%= category.id %>">
      <%= category.name %>
      <input type="button" value="Delete">
      <ul class="link-list">
        <% category.links.each do |link| %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>