<div class="container">
	<form action="/users/<%=@user.id%>" method="post">
		Please input Title:
		<input type="text" placeholder="Enter Title" name="title"><br/><br/>
		Please input Description:
		<input type="text" placeholder="Enter Description" name="description"><br/><br/>
		Please input Content:
		<input type="text" placeholder="Enter Content" name="content"><br/><br/>
		<input type="hidden" name="_method" value="post" />
		<input type="submit" value="Submit"/>
	</form>
</div>