<div id="header">
  <% if auth_user_info %>
    <p>Welcome, <%= auth_user_info["given_name"] %></p>
    <img class="profile-photo" src="<%= auth_user_info["picture"] %>">
    <a href="/users/logout">Logout</a>
  <% else %>
    <div class="front-title">
      <h1>Read L8r</h1>
    </div>
    <div class="login-button">
      <a class="login-link" href="<%= auth_authorize_link %>">
        <img src="/img/google-sign-in-button.png">
      </a>
    </div>
  <% end %>
</div>
