<div id="header">
  <% if auth_user_info %>
    <p>Welcome, <%= auth_user_info["given_name"] %></p>
    <img id="profile-photo" src="<%= auth_user_info["picture"] %>">
    <a href="/users/logout">Logout</a>
  <% else %>
    <img src="/img/front-icon.png">
    <span id="signinButton">
      <span
        class="g-signin"
        data-callback="http://rdl8r.com/oauth2callback"
        data-clientid="422244977078-i01tmc3ar9ob0bka26uf9jmbm34tun5q.apps.googleusercontent.com"
        data-cookiepolicy="single_host_origin"
        data-scope="profile email">
      </span>
    </span>
  <% end %>
</div>
