<div id="parallax">

  <div id="scroller">

    <div id="main">
      
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <!-- main end -->
    <div id="fusion">
      
    </div>
    <!-- mountain begin -->
    <div id="mountain">

    </div>
    <!-- mountain end -->
    <div id="fusion">
      
    </div>
    <!-- valley begin -->
    <div id="valley">
      
    </div>
    <!-- valey end -->
    <div id="fusion">
      
    </div>
    <!-- river begin -->
    <div id="river">
      
    </div>
    <!-- river end -->
  </div>
  
  <button id="profile_button">
    <!-- on press -->
  </button>
    <!-- profile button -->
  <div class="profile">
    <!-- slide from the right -->
    <div id="user_container">
      <!-- User information -->
      <div id="user_content">
        <p> <a href="/users/<%=@user.id%>/notebook"><%= @main.title %></br><%= @main.content %> </a></p>

      </div> <!-- info -->
    </div> <!-- container -->
  </div> <!-- profile -->
</div> <!-- body-->


