<form id="create-category">
  <input type="text" name="name" placeholder="Category name">
</form>

<ul id="category-list">
  <!-- <% current_user.categories.each do |category| %>
    <li class="category-list-item" data="<%= category.id %>">
      <%= category.name %>
      <input type="button" name="delete" value="Delete">
      <ul class="link-list">
        <% category.links.each do |link| %>
          <li class="link-list-item" data="<%= link.id %>">
            <%= link.link %>
            <input type="button" name="delete" value="Delete">
          </li>
        <% end %>
      </ul>
    </li>
  <% end %> -->
</ul>

<div id="trash">
  Trash
</div>