<style>
body {
  background-image: url("../assets/modern-tropical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<div id="wrapper">
  <div id="message">
    MAKE SOMETHING BEAUTIFUL!
  </div>
  <div class="container">
    <% if @user %>
    <% @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
    <% end %>
  </br>
    <form action='/register' method='post'>
      <input type='text' name='name' placeholder='Please enter your name'></br>
      <input type='text' name='username' placeholder='Enter your Username'></br>
      <input type='password' name='password' placeholder='Enter Password'></br>
      <input type='submit' value='Register'>
    </form>
  </div>
</div>
