<div id="category-list-item-template">
  <li class="category-list-item">
    <input type="button" value="Delete">
    <ul class="link-list">
    </ul>
  </li>
</div>

<div id="link-list-item-template">
  <li class="link-list-item">
    <input type="button" value="Delete">
  </li>
</div>