<script id="category-list-item-template" type="text/template">
  <li class="category-list-item">
    <input type="button" name="delete" value="Delete">
    <h4>{{categoryName}}</h4>
    <ul class="link-list">
    </ul>
    <form class="add-link">
      <input type="text" name="link" placeholder="Add a Link">
    </form>
  </li>
</script>

<script id="link-list-item-template" type="text/template">
  <li class="link-list-item">
    <a href="" target="_blank"></a>
  </li>
</script>

<script id="category-option-template" type="text/template">

</script>
